<mat-card style="height:calc(100% - 60px);margin: 10px;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Selected objects</mat-card-title>
    <mat-card-subtitle>Configuration</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div style="height: 260px;overflow: auto;">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> Trace color </th>
          <td mat-cell *matCellDef="let row" style="width: 100px;">
            <input style="width: 60px;" [style.background]="color" [cpCancelButton]="true" [cpPosition]="'top-left'"
              [cpDisableInput]="true" [cpUseRootViewContainer]="true" [colorPicker]="color"
              [cpPresetColors]="['#fff', '#2889e9']" [cpAddColorButton]="true" [value]="color"
              (colorPickerChange)="setTraceColor($event,row);color=$event" />
          </td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button style="margin:0 auto;display:block;" mat-button color="primary" (click)="onGetSelections()"
      [disabled]="connState!==2">Refresh</button>
  </mat-card-actions>
</mat-card>