<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Blender connection</mat-card-title>
    <mat-card-subtitle>Status</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button style="margin:0 auto;display:block;" mat-button color="{{connState===2?'primary':'accent'}}" (click)="onConnect()"
      [disabled]="connState===1">{{connState===1?'Connecting ...':connState===2?'Connected':'Disconnected'}}</button>
  </mat-card-content>
</mat-card>